*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* nav.navbar, header.header, section.boxes, section.quote, section.sign-up, footer.end-page {
    border: 3px solid #333;
} */

body {
    font-family: Roboto, Arial, Verdana, Tahoma;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav.navbar, header.header, section.boxes, section.quote, section.sign-up, footer.end-page {
    flex: 1;
}

ul {
    list-style-type: none;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: blue;
  color: white;
  padding: 10px;
  cursor: pointer;
}

header.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}

nav.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}

img.border {
    border: 5px solid #3882F6;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    gap: 20px;
}

.header .space-out {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.header .space-out button {
    max-width: 30%;
}

.boxes .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    gap: 20px;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}

h1.right-align {
    align-self: flex-end;
}

.sign-up .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 20px;
    gap: 200px;
}

.end-page .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    font-size: 5px;
}

section.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

section .container .call-to-action {
    display: flex;
    flex-direction: column;
}

section.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer.end-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    max-height: 30px;
}

section .big-box {
    display: flex;
    gap: 10px;
}

