*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Verdana, Tahoma, sans-serif;
    min-height: 100vh;
    margin:
}

ul {
    list-style-type: none;
}

.navbar {
    height: 60px;
    background-color: grey;
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;

}